@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*----- HEADER -----*/
.headerEstilo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#d8d5d5));
  background-image: linear-gradient(to bottom, white, #d8d5d5);
  font-family: 'Kaisei HarunoUmi', serif;
  border-bottom: 3px solid #ff788e;
}

.bgEnlace:hover {
  background-color: #ff788e;
  -webkit-transition: 1s;
  transition: 1s;
}

.headerEstilo img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
}

/*----- BODY -----*/
.seccionPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  background-image: url(../multimedia/Banner.png);
  background-size: cover;
  height: 100vh;
}

.seccionPrincipal h1 {
  color: white;
  padding-left: 5%;
  font-size: 2.5rem;
}

.seccionPrincipal__parrafo {
  color: #ff4060;
  padding-left: 5%;
  text-align: start;
  font-size: 1rem;
}

body section p {
  padding: 40px;
}

.section__packaging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  font-family: 'Kaisei HarunoUmi', serif;
}

.section__packaging__img {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 50px;
}

.section__packaging__img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 4s;
  transition: 4s;
}

.section__spotify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 150px;
}

.section__spotify img {
  margin-top: 50%;
  margin-bottom: 50%;
}

.section__spotify .section__spotify__h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  color: black;
  font-family: 'Kaisei HarunoUmi', serif;
}

.section__spotify__h2 a {
  text-decoration: none;
  color: black;
  font-family: 'Kaisei HarunoUmi', serif;
}

.section__spotify__parrafo {
  color: black;
  font-family: 'Kaisei HarunoUmi', serif;
}

.section__spotify__button {
  margin-left: 280px;
  margin-bottom: 100px;
  background-color: black;
}

.section__spotify__button:hover {
  background-color: #353434;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section__spotify__button a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: 'Kaisei HarunoUmi', serif;
  margin: 10px;
}

/*----- QUIENES SOMOS -----*/
.seccionQuienesSomos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  background-image: url(../multimedia/Banner.png);
  background-size: cover;
  height: 50vh;
}

.seccionQuienesSomos h1 {
  color: white;
  padding-left: 5%;
  font-size: 2.5rem;
}

.seccionQuienesSomos__parrafo {
  color: #ff4060;
  padding-left: 5%;
  text-align: start;
  font-size: 1rem;
}

/*----- CATALOGO -----*/
.sectioncatalogo__img {
  display: block;
  margin: auto;
  margin-bottom: 80px;
  border: 3px solid black;
  border-radius: 5%;
}

.sectioncatalogo__img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 2s;
  transition: 2s;
}

.sectioncatalogo__titulolibro {
  border-top: 2px solid black;
  padding-top: 20px;
  color: black;
  opacity: 0.8;
  font-size: 25px;
  font-family: 'Kaisei HarunoUmi', serif;
  font-weight: 700;
  text-align: center;
}

.sectioncatalogo p {
  padding: 10px;
  margin: 0px 50px 0px 50px;
}

/*----- MEDIOS DE PAGO -----*/
.sectionMediosDePago {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionMediosDePago .sectionMediosDePago__parrafo {
  color: black;
  opacity: 0.8;
  padding: 30px;
}

.sectionMediosDePago .sectionMediosDePago__imagen {
  display: block;
  margin: auto;
  -webkit-box-shadow: 10px 10px 30px 10px #b8b5b5;
          box-shadow: 10px 10px 30px 10px #b8b5b5;
}

h5 {
  color: black;
  text-align: center;
  font-size: 30px;
}

.textocard p {
  padding: 40px;
  color: #383434;
}

.cardtranslate:hover {
  -webkit-transform: translate(10px, 20px);
          transform: translate(10px, 20px);
  -webkit-transition: 2s;
  transition: 2s;
}

/*----- CONTACTO -----*/
.sectioncontacto__imagen {
  display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.sectioncontacto__parrafo {
  color: black;
  opacity: 0.8;
  padding: 30px;
}

.colorvioleta {
  color: #500050;
  font-size: 30px;
}

/*----- ERROR 404 -----*/
.error__img {
  display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.error__parrafo {
  text-align: center;
}

.error__button {
  display: block;
  margin: auto;
}

.error__button a {
  color: #572657;
  text-decoration: none;
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 20px;
  padding: 30px 20px;
}

.error__button:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 2s;
  transition: 2s;
}

/*----- FOOTER -----*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 3px solid #ff788e;
  background-color: black;
  text-align: center;
}

footer img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
}

.copyright {
  text-align: center;
  font-size: 1rem;
  font-family: 'Kaisei HarunoUmi', serif;
  margin-top: 1rem;
  color: black;
  background-color: #e4e1e1;
}

.button_contactanos {
  background-color: white;
  border: 3px solid #ff788e;
  border-radius: 30px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.button_contactanos a {
  color: black;
  text-decoration: none;
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 1rem;
}

.button_contactanos:hover {
  background-color: #6E7076;
  -webkit-transition: 1s;
  transition: 1s;
}

.button_contactanos a:hover {
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=style.css.map */