* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import 'fonts';
@import 'variables';


/*----- HEADER -----*/

.headerEstilo{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0),rgb(65, 64, 64));
        
    border-bottom: 3px solid rgb(255, 120, 142);
    

}

.bgEnlace:hover{
    background-color: rgb(255, 120, 142);
    transition: 1s;
}

.headerEstilo img:hover{
    transform: scale(1.2);
    transition: 1s;
}


/*----- BODY -----*/

.seccionPrincipal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    background-image: url(../multimedia/Banner.png);
    background-size: cover;
    height: 100vh;
   
    
    h1{
        color:white;
        padding-left: 5%;
        font-size: 2.5rem;
    }
}
.seccionPrincipal__parrafo{

    color: rgb(255, 64, 96);
    padding-left: 5%;
    text-align:start;
    font-size: 1rem;
}


body section p {
    padding: 40px;
}



.section__packaging{
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-family: 'Kaisei HarunoUmi', serif;
    
}

.fondoCardPackaging{
    background-image: linear-gradient(to bottom, rgb(243, 204, 211),white);
    padding-top: 5%;
}

.section__spotify{
    display: flex;
   
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-right: 40%;
    background-image: url(https://fondosmil.com/fondo/20832.jpg);
    background-size: cover;
    
   

    .section__spotify__h2 {
        
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 8%;
        text-align: left;
        font-size: 40px;
        color:white;
        font-family: 'Kaisei HarunoUmi', serif;

    }
}

.section__spotify__h2 a{
    
    text-decoration: none;
    color: white;
    font-family: 'Kaisei HarunoUmi', serif;
} 

.section__spotify__parrafo{
    color: white;
    font-family: 'Kaisei HarunoUmi', serif;
    
}

.section__spotify__button{

   margin-left: 35%;
   margin-bottom: 100px;
   background-color:black;
}

.section__spotify__button:hover{
    background-color:rgb(53, 52, 52);
    transition: 0.5s;
}

.section__spotify__button a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: 'Kaisei HarunoUmi', serif;
  margin: 10px;

}

/*----- QUIENES SOMOS -----*/

.seccionQuienesSomos{

    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 50px;
    background-image: url(../multimedia/Banner.png);
    background-size: cover;
    height: 50vh;

    
    h1{
        color:white;
        padding-left: 5%;
        font-size: 2.5rem;
    }

}

.seccionQuienesSomos__parrafo{
    color: rgb(255, 64, 96);
    padding-left: 5%;
    text-align:start;
    font-size: 1rem;

}



/*----- CATALOGO -----*/

.seccioncatalogo{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 50px;
    background-image: url(../multimedia/Banner.png);
    background-size: cover;
    height: 50vh;

    h1{
        color:white;
        padding-left: 5%;
        font-size: 2.5rem;
    }

}

.seccioncatalogo__parrafo{

    color: rgb(255, 64, 96);
    padding-left: 5%;
    text-align:start;
    font-size: 1rem;
}

.imagenesCatalogo{
    display:flex;
    justify-content: center;
    margin-top: 5%;
}

.hoverLibro:hover{
    transform: scale(1.2);
    transition: 2s;
}




/*----- MEDIOS DE PAGO -----*/

.cardsMdp{
    background-image: linear-gradient(to bottom, rgb(243, 204, 211),white);
    margin-top: 10%;
   
}




h5{
    color: black;
    text-align: center;
    font-size: 30px;
}

.textocard p{
    padding: 40px;
    color: rgb(56, 52, 52);
}

.cardtranslate:hover{
    transform:scale(1.1);
    transition: 2s;

}



/*----- CONTACTO -----*/

.formulario{
    margin-top: 8%;
    font-family: 'Kaisei HarunoUmi', serif;
}

form{
    background-image: linear-gradient(to bottom, rgb(243, 204, 211),white);
    width: 50%;
    margin: auto;
    padding: 4% 3%;
    border: 1px solid black;
    border-radius: 5%;

}

h2{
    text-align: center;
    padding: 5% 0;

}

input, textarea{

    width: 100%;
    margin-bottom: 5%;
    padding: 0.5rem;
}

textarea{
    min-height: 10rem;
}

#botonFormulario{

    background-color:black;
    color: white;
    border: 3px solid rgb(255, 120, 142);
    border-radius: 30px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

#botonFormulario:hover{

    background-color: #6E7076;
    transition: 1s;
    color: white;
}




/*----- ERROR 404 -----*/

.error__img{
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.error__parrafo{
    text-align: center;
}

.error__button{
    
    display: block;
    margin: auto;
}

.error__button a{

    color: rgb(87, 38, 87);
    text-decoration: none;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 20px;
    padding: 30px 20px;
}

.error__button:hover{
    transform: scale(1.2,1.2);
    transition: 2s;

}

/*----- FOOTER -----*/

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 3px solid rgb(255, 120, 142);
    background-color: black;
    text-align: center;

}

footer img:hover{

    transform: scale(1.2);
    transition: 1s;
}

.copyright{
    text-align: center;
    font-size: 1rem;
    font-family: 'Kaisei HarunoUmi', serif;
    margin-top: 1rem;
    color:black;
    background-color: rgb(228, 225, 225);
}

.button_contactanos{
    background-color:white;
    border: 3px solid rgb(255, 120, 142);
    border-radius: 30px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    a{
        color: black;
        text-decoration: none;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 1rem;
        

    }
}

.button_contactanos:hover{

    background-color: #6E7076;
    transition: 1s;
}

.button_contactanos a:hover{
    color: white;
    transition: 1s;
}

